.ani_time_container {
  position: fixed;
  left: 60px;
  top: 4px;
  z-index: 1;
}

.ani_toggle_btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 25%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgb(132, 207, 255);
  font-size: 2rem;
}
